<div class="branch">
  <div class="row">
    <div class="span12">
      <h1 class="branch-name">Vintage King Audio</h1>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <img src="images/vk-logo.png" alt="">
      <!-- <p>Examples:</p>
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt=""> -->
    </div>
    <div class="span8">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis egestas mauris, eget convallis nisl adipiscing nec. Ut condimentum lectus nec sapien accumsan tincidunt. Nullam eget quam at est tempor fermentum nec sodales magna. In id rutrum eros.r</p>
      <p>Colors:</p>
      <ul class="thumbnails">
        <li class="first"><div class="thumbnail"><img src="images/vk-red.jpg" alt="VK Red"><h5>#B5121B</h5></div></li>
        <li><div class="thumbnail"><img src="images/brick.jpg" alt="Brick"><h5>#6D2413</h5></div></li>
        <li><div class="thumbnail"><img src="images/black.jpg" alt="Black"><h5>#000000</h5></div></li>
        <li><div class="thumbnail"><img src="images/charcoal.jpg" alt="Charcoal"><h5>#333333</h5></div></li>
        <li><div class="thumbnail"><img src="images/dark-gray.jpg" alt="Dark Gray"><h5>#555555</h5></div></li>
        <li><div class="thumbnail"><img src="images/mid-gray.jpg" alt="Mid Gray"><h5>#888888</h5></div></li>
        <li><div class="thumbnail"><img src="images/light-gray.jpg" alt="Light Gray"><h5>#CCCCCC</h5></div></li>
        <li><div class="thumbnail"><img src="images/off-white.jpg" alt="Off White"><h5>#EEEEEE</h5></div></li>
        <li><div class="thumbnail"><img src="images/white.jpg" alt="White"><h5>#FFFFFF</h5></div></li>
      </ul>
      <p>Fonts:</p>
      <ul class="thumbnails">
      <li class="first"><div class="thumbnail"><img src="images/oswald.jpg" alt="Oswald"></div></li>
      <li><div class="thumbnail"><img src="images/helvetica.jpg" alt="Helvetica"></div></li>
      <li><div class="thumbnail"><img src="images/helvetica-neue.jpg" alt="Helvetica Neue"></div></li>
      <li><div class="thumbnail"><img src="images/veneer.jpg" alt="Veneer"></div></li>
      <li><div class="thumbnail"><img src="images/athletic-script.jpg" alt="Athletic Script"></div></li>
      </ul>
      <p>Examples:</p>
      <ul class="thumbnails">
      <li class="first"><div class="thumbnail"><img src="images/oswald.jpg" alt="Oswald"></div></li>
      <li><div class="thumbnail"><img src="images/helvetica.jpg" alt="Helvetica"></div></li>
      <li><div class="thumbnail"><img src="images/helvetica-neue.jpg" alt="Helvetica Neue"></div></li>
      <li><div class="thumbnail"><img src="images/veneer.jpg" alt="Veneer"></div></li>
      <li><div class="thumbnail"><img src="images/athletic-script.jpg" alt="Athletic Script"></div></li>
      </ul>
      <div class="clearfix"></div>
      <!-- <a href="#" class="btn assets">Download Assets Here (.zip)</a> -->
    </div>
  </div>
</div>