<div class="branch">
  <div class="row">
    <div class="span12">
      <h1 class="branch-name">Vintage King Audio</h1>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <img src="images/vk-logo.png" alt="">
      <!-- <p>Examples:</p>
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt="">
      <img src="images/logo-thumb.png" alt=""> -->
    </div>
    <div class="span8">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis egestas mauris, eget convallis nisl adipiscing nec. Ut condimentum lectus nec sapien accumsan tincidunt. Nullam eget quam at est tempor fermentum nec sodales magna. In id rutrum eros.r</p>
      <p>Colors:</p>
      <img class="color" src="images/vk-red.jpg" alt="VK Red"><!-- <span class="value">#b11511</span> -->
      <img class="color" src="images/brick.jpg" alt="Brick">
      <img class="color" src="images/black.jpg" alt="Black">
      <img class="color" src="images/charcoal.jpg" alt="Charcoal">
      <img class="color" src="images/dark-gray.jpg" alt="Dark Gray">
      <img class="color" src="images/mid-gray.jpg" alt="Mid Gray">
      <img class="color" src="images/light-gray.jpg" alt="Light Gray">
      <img src="images/off-white.jpg" alt="Off White">
      <img class="color" src="images/white.jpg" alt="White">
      <p>Fonts:</p>
      <img src="images/oswald.jpg" alt="Oswald">
      <img src="images/helvetica.jpg" alt="Helvetica">
      <img src="images/helvetica-neue.jpg" alt="Helvetica Neue">
      <img src="images/veneer.jpg" alt="Veneer">
      <img src="images/athletic-script.jpg" alt="Athletic Script">
      <div class="clearfix"></div>
      <!-- <a href="#" class="btn assets">Download Assets Here (.zip)</a> -->
    </div>
  </div>
</div>